.user-management {
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;

    th,
    td {
      padding: 10px;
      border: 1px solid #ccc;
    }

    th {
      background-color: #f1f1f1;
      text-align: left;
    }
  }

  .button-group {
    display: flex;
    gap: 10px;

}
}
button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;


    &:active {
      transform: translateY(1px); /* Add a subtle downward shift when button is clicked */
    }

    &:nth-child(3) {
      background-color: red;
      font-size: 20px;
    }

    &:nth-child(2) {
      background-color: green;
      font-size: 15px;

    }
  }